</head>
<body>
  <nav>
    <i class="fas fa-film fa-2x"></i>
    <a 
      href="/flights/new" class=<%= title === 'ADD FLIGHT' ? 'active' : '' %>
    >
      ADD Flight
    </a>
    <a 
      href="/flights" class=<%= title === 'All FLIGHTS' ? 'active' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>